.post{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
 
}
.post_top{
    display: flex;
    justify-content: space-between;
}
.post_topLeft{
    display: flex;
    align-items: center;
}
.postInfo{
 margin-left: 10px;
}
.postInfo p{
    font-size: 12px;
display: flex;
align-items: center;


}